/* purgecss start ignore */


::-moz-selection { background: #3ea4ab; color: #333; }
::selection { background: #3ea4ab; color: #333; }


.unclickable {
    pointer-events: none;
}

/* purgecss end ignore */
