/* purgecss start ignore */


::-moz-selection { background: #3ea4ab; color: #333; }
::selection { background: #3ea4ab; color: #333; }


.unclickable {
    pointer-events: none;
}




.rotate_in {
    animation: rotate_in 1000ms cubic-bezier(0.29, 0.74, 0.68, 0.93) forwards;
}

@keyframes rotate_in {
    0% {transform: rotate(-125deg) scale(0);}
    100% {transform: rotate(0) scale(1);}
}

.scale_up {
    animation: scale_up 700ms cubic-bezier(0.29, 0.74, 0.68, 0.93) forwards;
}

@keyframes scale_up {
    0% {transform: scaleY(0);}
    100% {transform: scaleY(1);}
}


.coha_shadow {

    &:before {
        background: rgba(0, 0, 0, 0.12);
        width: 95%;
        height: 95%;
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 6%;
        filter: blur(15px);
        z-index: -1;
    }

    &.coha_rounded {
        border-radius: 10%;
    }
}

/* purgecss end ignore */
