section.bg-light.o-hidden.pt-5.pb-0
  .container
    .row.align-items-center.justify-content-between
      .col-lg-7.d-flex.flex-column.text-center.text-lg-left.mb-5.mb-lg-0(data-aos='fade-right')
        .pr-xl-5
          h1.display-4
            span(style='hyphens: auto;') Mitarbeiterbefragungen
            br
            mark
              span(
                data-typed-text=''
                data-loop='true'
                data-type-speed='90'
                data-strings='["einfach","übersichtlich ","individuell"]'
              )
          p.lead
            | Erschaffen Sie echte Mitarbeiterbeteiligung durch gezielte Befragungen ​
          .mt-4.mt-lg-5
            form(data-form-email='' novalidate='' action='/forms/mailchimp.php')
              .d-flex.flex-column.flex-sm-row.form-group
                input.form-control.form-control-lg.mr-sm-2.mb-2.mb-sm-0.h-100(name='email' placeholder='Email Address' type='email' required='')
                button.btn.btn-lg.btn-primary.flex-shrink-0.btn-loading(type='submit' data-loading-text='Sending')
                  // Icon for loading animation
                  svg.icon.bg-white(width='24px' height='24px' viewbox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink')
                    title Icon For Loading
                    g(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
                      g
                        polygon(points='0 0 24 0 24 24 0 24' opacity='0')
                      path(d='M12,4 L12,6 C8.6862915,6 6,8.6862915 6,12 C6,15.3137085 8.6862915,18 12,18 C15.3137085,18 18,15.3137085 18,12 C18,10.9603196 17.7360885,9.96126435 17.2402578,9.07513926 L18.9856052,8.09853149 C19.6473536,9.28117708 20,10.6161442 20,12 C20,16.418278 16.418278,20 12,20 C7.581722,20 4,16.418278 4,12 C4,7.581722 7.581722,4 12,4 Z' fill='#000000' fill-rule='nonzero' transform='translate(12.000000, 12.000000) scale(-1, 1) translate(-12.000000, -12.000000) ')
                  span Notify Me
              div(data-recaptcha='' data-sitekey='INSERT_YOUR_RECAPTCHA_V2_SITEKEY_HERE' data-size='invisible' data-badge='bottomleft')
              .d-none.alert.alert-success.w-100(role='alert' data-success-message='')
                | Thanks, a member of our team will be in touch shortly.
              .d-none.alert.alert-danger.w-100(role='alert' data-error-message='')
                | Please fill all fields correctly.
            .alert.rounded-lg.bg-secondary.d-inline-flex.align-items-center
              .badge.badge-pill.badge-success Beta
              .mx-3
                | Launching v1.0 in
                span.font-weight-bold.add-countdown-time(data-countdown-date='2019/10/05')
      .col
        .row.justify-content-center(data-jarallax-element='-50')
          .col-10.col-sm-8.col-md-7.col-lg-9.col-xl-7(data-aos='zoom-in' data-aos-delay='250')
            img.img-fluid(src="https://dreamteam-survey.s3.eu-central-1.amazonaws.com/landingpage/images/stock_2.png" alt='Screenshot')
  .w-50.h-50.bottom.right.position-absolute(data-aos='zoom-in' data-aos-delay='500')
    .blob.h-100.w-100.bottom.right.bg-warning.opacity-90
  .divider.divider-bottom.bg-primary-3.mt-5
