// Import Flags

.coha {
    &.flags {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .flag {

        &.wrapper {
            margin: 5px 10px;
        }

        .inner {
            display: flex;
            min-width: 50px;
            min-height: 30px;
            align-content: center;
            align-self: center;
            justify-content: center;
            margin: auto;
            background-position: center !important;
            border-radius: 8%;

            &.active {
                pointer-events: none;
                opacity: .35;
                filter: grayscale(.5);
            }

            @import './de';
            @import './en';

        }
    }
}
