@extends('layouts.app')

@section('title', 'Datenschutz | '.env('APP_NAME'))

@section('content')

section#up.page-head.video-bg-box.flex-min-height-box.imprint
  .flex-min-height-inner
    .container.top-bottom-padding-120
      h1.custom-page--tab-headline Datenschutz
      .entry-content
        h3 Datenschutz
        p
          | &sect; 1 Information &uuml;ber die Erhebung personenbezogener Daten
          br
          | (1) Im Folgenden informieren wir &uuml;ber die Erhebung personenbezogener Daten bei Nutzung unserer Website. Personenbezogene Daten sind alle Daten, die auf Sie pers&ouml;nlich beziehbar sind, z. B. Name, Adresse, E-Mail-Adressen, Nutzerverhalten.
          br
          | (2) Verantwortlicher gem. Art. 4 Abs. 7 EU-Datenschutz-Grundverordnung (DS-GVO) ist Dr. Oliver Haas, Gew&uuml;rzm&uuml;hlstra&szlig;e 17, 80538 M&uuml;nchen, info@corporate-happiness.de (siehe unser Impressum). Unseren Datenschutzbeauftragten erreichen Sie unter datenschutz@corporate-happiness.de oder unserer Postadresse mit dem Zusatz &bdquo;der Datenschutzbeauftragte&ldquo;.]
          br
          | (3) Bei Ihrer Kontaktaufnahme mit uns per E-Mail oder &uuml;ber ein Kontaktformular werden die von Ihnen mitgeteilten Daten (Ihre E-Mail-Adresse, ggf. Ihr Name und Ihre Telefonnummer) von uns gespeichert, um Ihre Fragen zu beantworten. Die in diesem Zusammenhang anfallenden Daten l&ouml;schen wir, nachdem die Speicherung nicht mehr erforderlich ist, oder schr&auml;nken die Verarbeitung ein, falls gesetzliche Aufbewahrungspflichten bestehen.
          br
          | (4) Falls wir f&uuml;r einzelne Funktionen unseres Angebots auf beauftragte Dienstleister zur&uuml;ckgreifen oder Ihre Daten f&uuml;r werbliche Zwecke nutzen m&ouml;chten, werden wir Sie untenstehend im Detail &uuml;ber die jeweiligen Vorg&auml;nge informieren. Dabei nennen wir auch die festgelegten Kriterien der Speicherdauer.
          br
          | &sect; 2 Ihre Rechte
          br
          | (1) Sie haben gegen&uuml;ber uns folgende Rechte hinsichtlich der Sie betreffenden personenbezogenen Daten:
          br
          | &ndash; Recht auf Auskunft,
          br
          | &ndash; Recht auf Berichtigung oder L&ouml;schung,
          br
          | &ndash; Recht auf Einschr&auml;nkung der Verarbeitung,
          br
          | &ndash; Recht auf Widerspruch gegen die Verarbeitung,
          br
          | &ndash; Recht auf Daten&uuml;bertragbarkeit.
          br
          | (2) Sie haben zudem das Recht, sich bei einer Datenschutz-Aufsichtsbeh&ouml;rde &uuml;ber die Verarbeitung Ihrer personenbezogenen Daten durch uns zu beschweren.
          br
          | &sect; 3 Erhebung personenbezogener Daten bei Besuch unserer Website
          br
          | (1) Bei der blo&szlig; informatorischen Nutzung der Website, also wenn Sie sich nicht registrieren oder uns anderweitig Informationen &uuml;bermitteln, erheben wir nur die personenbezogenen Daten, die Ihr Browser an unseren Server &uuml;bermittelt. Wenn Sie unsere Website betrachten m&ouml;chten, erheben wir die folgenden Daten, die f&uuml;r uns technisch erforderlich sind, um Ihnen unsere Website anzuzeigen und die Stabilit&auml;t und Sicherheit zu gew&auml;hrleisten (Rechtsgrundlage ist Art. 6 Abs. 1 S. 1 lit. f DS-GVO):
          br
          | &ndash; IP-Adresse
          br
          | &ndash; Datum und Uhrzeit der Anfrage
          br
          | &ndash; Zeitzonendifferenz zur Greenwich Mean Time (GMT)
          br
          | &ndash; Inhalt der Anforderung (konkrete Seite)
          br
          | &ndash; Zugriffsstatus/HTTP-Statuscode
          br
          | &ndash; jeweils &uuml;bertragene Datenmenge
          br
          | &ndash; Website, von der die Anforderung kommt
          br
          | &ndash; Browser
          br
          | &ndash; Betriebssystem und dessen Oberfl&auml;che
          br
          | &ndash; Sprache und Version der Browsersoftware.
          br
          | (2) Zus&auml;tzlich zu den zuvor genannten Daten werden bei Ihrer Nutzung unserer Website Cookies auf Ihrem Rechner gespeichert. Bei Cookies handelt es sich um kleine Textdateien, die auf Ihrer Festplatte dem von Ihnen verwendeten Browser zugeordnet gespeichert werden und durch welche der Stelle, die den Cookie setzt (hier durch uns), bestimmte Informationen zuflie&szlig;en. Cookies k&ouml;nnen keine Programme ausf&uuml;hren oder Viren auf Ihren Computer &uuml;bertragen. Sie dienen dazu, das Internetangebot insgesamt nutzerfreundlicher und effektiver zu machen.
          br
          | (3) Einsatz von Cookies:
          br
          | a) Diese Website nutzt folgende Arten von Cookies, deren Umfang und Funktionsweise im Folgenden erl&auml;utert werden:
          br
          | &ndash; Transiente Cookies (dazu b)
          br
          | &ndash; Persistente Cookies (dazu c).
          br
          | b) Transiente Cookies werden automatisiert gel&ouml;scht, wenn Sie den Browser schlie&szlig;en. Dazu z&auml;hlen insbesondere die Session-Cookies. Diese speichern eine sogenannte Session-ID, mit welcher sich verschiedene Anfragen Ihres Browsers der gemeinsamen Sitzung zuordnen lassen. Dadurch kann Ihr Rechner wiedererkannt werden, wenn Sie auf unsere Website zur&uuml;ckkehren. Die Session-Cookies werden gel&ouml;scht, wenn Sie sich ausloggen oder den Browser schlie&szlig;en.
          br
          | c) Persistente Cookies werden automatisiert nach einer vorgegebenen Dauer gel&ouml;scht, die sich je nach Cookie unterscheiden kann. Sie k&ouml;nnen die Cookies in den Sicherheitseinstellungen Ihres Browsers jederzeit l&ouml;schen.
          br
          | d) Sie k&ouml;nnen Ihre Browser-Einstellung entsprechend Ihren W&uuml;nschen konfigurieren und z. B. die Annahme von Third-Party-Cookies oder allen Cookies ablehnen. Wir weisen Sie darauf hin, dass Sie eventuell nicht alle Funktionen dieser Website nutzen k&ouml;nnen.
        p
          | Social Media und weitere Plugins
          br
          | 1. Einsatz von Social-Media-Plug-ins
          br
          | (1) Wir setzen derzeit folgende Social-Media-Plug-ins ein: Facebook, Twitter, Xing. Wir nutzen dabei die sog. Zwei-Klick-L&ouml;sung. Das hei&szlig;t, wenn Sie unsere Seite besuchen, werden zun&auml;chst grunds&auml;tzlich keine personenbezogenen Daten an die Anbieter der Plug-ins weitergegeben. Den Anbieter des Plug-ins erkennen Sie &uuml;ber die Markierung auf dem Kasten &uuml;ber seinen Anfangsbuchstaben oder das Logo. Wir er&ouml;ffnen Ihnen die M&ouml;glichkeit, &uuml;ber den Button direkt mit dem Anbieter des Plug-ins zu kommunizieren. Nur wenn Sie auf das markierte Feld klicken und es dadurch aktivieren, erh&auml;lt der Plug-in-Anbieter die Information, dass Sie die entsprechende Website unseres Online-Angebots aufgerufen haben. Zudem werden die unter &sect; 3 dieser Erkl&auml;rung genannten Daten &uuml;bermittelt. Im Fall von Facebook und Xing wird nach Angaben der jeweiligen Anbieter in Deutschland die IP-Adresse sofort nach Erhebung anonymisiert. Durch die Aktivierung des Plug-ins werden also personenbezogene Daten von Ihnen an den jeweiligen Plug-in-Anbieter &uuml;bermittelt und dort (bei US-amerikanischen Anbietern in den USA) gespeichert. Da der Plug-in-Anbieter die Datenerhebung insbesondere &uuml;ber Cookies vornimmt, empfehlen wir Ihnen, vor dem Klick auf den ausgegrauten Kasten &uuml;ber die Sicherheitseinstellungen Ihres Browsers alle Cookies zu l&ouml;schen.
          br
          | (2) Wir haben weder Einfluss auf die erhobenen Daten und Datenverarbeitungsvorg&auml;nge, noch sind uns der volle Umfang der Datenerhebung, die Zwecke der Verarbeitung, die Speicherfristen bekannt. Auch zur L&ouml;schung der erhobenen Daten durch den Plug-in-Anbieter liegen uns keine Informationen vor.
          br
          | (3) Der Plug-in-Anbieter speichert die &uuml;ber Sie erhobenen Daten als Nutzungsprofile und nutzt diese f&uuml;r Zwecke der Werbung, Marktforschung und/oder bedarfsgerechten Gestaltung seiner Website. Eine solche Auswertung erfolgt insbesondere (auch f&uuml;r nicht eingeloggte Nutzer) zur Darstellung von bedarfsgerechter Werbung und um andere Nutzer des sozialen Netzwerks &uuml;ber Ihre Aktivit&auml;ten auf unserer Website zu informieren. Ihnen steht ein Widerspruchsrecht gegen die Bildung dieser Nutzerprofile zu, wobei Sie sich zur Aus&uuml;bung dessen an den jeweiligen Plug-in-Anbieter wenden m&uuml;ssen. &Uuml;ber die Plug-ins bietet wir Ihnen die M&ouml;glichkeit, mit den sozialen Netzwerken und anderen Nutzern zu interagieren, so dass wir unser Angebot verbessern und f&uuml;r Sie als Nutzer interessanter ausgestalten k&ouml;nnen. Rechtsgrundlage f&uuml;r die Nutzung der Plug-ins ist Art. 6 Abs. 1 S. 1 lit. f DS-GVO.
          br
          | (4) Die Datenweitergabe erfolgt unabh&auml;ngig davon, ob Sie ein Konto bei dem Plug-in-Anbieter besitzen und dort eingeloggt sind. Wenn Sie bei dem Plug-in-Anbieter eingeloggt sind, werden Ihre bei uns erhobenen Daten direkt Ihrem beim Plug-in-Anbieter bestehenden Konto zugeordnet. Wenn Sie den aktivierten Button bet&auml;tigen und z. B. die Seite verlinken, speichert der Plug-in-Anbieter auch diese Information in Ihrem Nutzerkonto und teilt sie Ihren Kontakten &ouml;ffentlich mit. Wir empfehlen Ihnen, sich nach Nutzung eines sozialen Netzwerks regelm&auml;&szlig;ig auszuloggen, insbesondere jedoch vor Aktivierung des Buttons, da Sie so eine Zuordnung zu Ihrem Profil bei dem Plug-in-Anbieter vermeiden k&ouml;nnen.
          br
          | (5) Weitere Informationen zu Zweck und Umfang der Datenerhebung und ihrer Verarbeitung durch den Plug-in-Anbieter erhalten Sie in den im Folgenden mitgeteilten Datenschutzerkl&auml;rungen dieser Anbieter. Dort erhalten Sie auch weitere Informationen zu Ihren diesbez&uuml;glichen Rechten und Einstellungsm&ouml;glichkeiten zum Schutze Ihrer Privatsph&auml;re.
          br
          | (6) Adressen der jeweiligen Plug-in-Anbieter und URL mit deren Datenschutzhinweisen:
          br
          | a) [Facebook Inc., 1601 S California Ave, Palo Alto, California 94304, USA; http://www.facebook.com/policy.php; weitere Informationen zur Datenerhebung: http://www.facebook.com/help/186325668085084, http://www.facebook.com/about/privacy/your-info-on-other#applications sowie http://www.facebook.com/about/privacy/your-info#everyoneinfo. Facebook hat sich dem EU-US-Privacy-Shield unterworfen, https://www.privacyshield.gov/EU-US-Framework.
          br
          | b) Google Inc., 1600 Amphitheater Parkway, Mountainview, California 94043, USA; https://www.google.com/policies/privacy/partners/?hl=de. Google hat sich dem EU-US-Privacy-Shield unterworfen, https://www.privacyshield.gov/EU-US-Framework.
          br
          | c) Twitter, Inc., 1355 Market St, Suite 900, San Francisco, California 94103, USA; https://twitter.com/privacy. Twitter hat sich dem EU-US-Privacy-Shield unterworfen, https://www.privacyshield.gov/EU-US-Framework.
          br
          | d) Xing AG, G&auml;nsemarkt 43, 20354 Hamburg, DE; http://www.xing.com/privacy.
          br
          | 2. AddThis-Bookmarking
          br
          | (1) Unsere Webseiten enthalten zudem AddThis-Plug-ins. Diese Plug-ins erm&ouml;glichen Ihnen das Setzen von Bookmarks bzw. das Teilen von interessanten Inhalten mit anderen Nutzern. &Uuml;ber die Plug-ins bieten wir Ihnen die M&ouml;glichkeit, mit den sozialen Netzwerken und anderen Nutzern zu interagieren, so dass wir unser Angebot verbessern und f&uuml;r Sie als Nutzer interessanter ausgestalten k&ouml;nnen. Rechtsgrundlage f&uuml;r die Nutzung der Plug-ins ist Art. 6 Abs. 1 S. 1 lit. f DS-GVO.
          br
          | (2) &Uuml;ber diese Plug-ins baut Ihr Internetbrowser eine direkte Verbindung mit den Servern von AddThis und gegebenenfalls dem gew&auml;hlten sozialen Netzwerk- oder Bookmarking-Dienst auf. Die Empf&auml;nger erhalten die Information, dass Sie die entsprechende Website unseres Online-Angebots aufgerufen haben und die unter &sect; 3 dieser Erkl&auml;rung genannten Daten. Diese Informationen werden auf den Servern von AddThis in den USA verarbeitet. Wenn Sie Inhalte auf unserer Webseite an soziale Netzwerke oder Bookmarking-Dienste senden, kann eine Verbindung zwischen dem Besuch unserer Webseite und Ihrem Nutzerprofil bei dem entsprechenden Netzwerk hergestellt werden. Wir haben weder Einfluss auf die erhobenen Daten und Datenverarbeitungsvorg&auml;nge, noch sind uns der volle Umfang der Datenerhebung, die Zwecke der Verarbeitung, die Speicherfristen bekannt. Auch zur L&ouml;schung der erhobenen Daten durch den Plug-in-Anbieter liegen uns keine Informationen vor.
          br
          | (3) Der Plug-in-Anbieter speichert diese Daten als Nutzungsprofile und nutzt diese f&uuml;r Zwecke der Werbung, Marktforschung und/oder bedarfsgerechten Gestaltung seiner Website. Eine solche Auswertung erfolgt insbesondere (selbst f&uuml;r nicht eingeloggte Nutzer) zur Erbringung von bedarfsgerechter Werbung und um andere Nutzer des sozialen Netzwerks &uuml;ber Ihre Aktivit&auml;ten auf unserer Website zu informieren. Ihnen steht ein Widerspruchsrecht zu gegen die Bildung dieser Nutzerprofile, wobei Sie sich zur Aus&uuml;bung dessen an den jeweiligen Plug-in-Anbieter richten m&uuml;ssen.
          br
          | (4) Wenn Sie nicht an diesem Verfahren teilnehmen m&ouml;chten, k&ouml;nnen Sie der Datenerhebung und -speicherung jederzeit durch Setzen eines Opt-out-Cookies mit Wirkung f&uuml;r die Zukunft widersprechen: http://www.addthis.com/privacy/opt-out. Alternativ k&ouml;nnen Sie Ihren Browser so einstellen, dass er das Setzen eines Cookies verhindert.
          br
          | (5) Weitere Informationen zu Zweck und Umfang der Datenerhebung und ihrer Verarbeitung durch den Plug-in-Anbieter sowie weitere Informationen zu Ihren diesbez&uuml;glichen Rechten und Einstellungsm&ouml;glichkeiten zum Schutze Ihrer Privatsph&auml;re erhalten Sie bei: AddThis LLC, 1595 Spring Hill Road, Sweet 300, Vienna, VA 22182, USA, www.addthis.com/privacy.
          br
          | 3. Einbindung von Videos
          br
          | (1) Wir haben YouTube- und Vimeo-Videos in unser Online-Angebot eingebunden, die auf http://www.YouTube.com und/oder http://www.Vimeo.com gespeichert sind und von unserer Website aus direkt abspielbar sind.
          br
          | (2) Durch den Besuch auf der Website erh&auml;lt YouTube und/oder Vimeo die Information, dass Sie die entsprechende Unterseite unserer Website aufgerufen haben. Zudem werden die unter &sect; 3 dieser Erkl&auml;rung genannten Daten &uuml;bermittelt. Dies erfolgt unabh&auml;ngig davon, ob YouTube und/oder Vimeo ein Nutzerkonto bereitstellt, &uuml;ber das Sie eingeloggt sind, oder ob kein Nutzerkonto besteht. Wenn Sie bei Google eingeloggt sind, werden Ihre Daten direkt Ihrem Konto zugeordnet. Wenn Sie die Zuordnung mit Ihrem Profil bei YouTube nicht w&uuml;nschen, m&uuml;ssen Sie sich vor Aktivierung des Buttons ausloggen. YouTube speichert Ihre Daten als Nutzungsprofile und nutzt sie f&uuml;r Zwecke der Werbung, Marktforschung und/oder bedarfsgerechten Gestaltung seiner Website. Eine solche Auswertung erfolgt insbesondere (selbst f&uuml;r nicht eingeloggte Nutzer) zur Erbringung von bedarfsgerechter Werbung und um andere Nutzer des sozialen Netzwerks &uuml;ber Ihre Aktivit&auml;ten auf unserer Website zu informieren. Ihnen steht ein Widerspruchsrecht zu gegen die Bildung dieser Nutzerprofile, wobei Sie sich zur Aus&uuml;bung dessen an YouTube richten m&uuml;ssen.
          br
          | (3) Weitere Informationen zu Zweck und Umfang der Datenerhebung und ihrer Verarbeitung durch YouTube und/oder Vimeo erhalten Sie in der Datenschutzerkl&auml;rung. Dort erhalten Sie auch weitere Informationen zu Ihren Rechten und Einstellungsm&ouml;glichkeiten zum Schutze Ihrer Privatsph&auml;re: https://www.google.de/intl/de/policies/privacy bzw. https://vimeo.com/privacy. Google verarbeitet Ihre personenbezogenen Daten auch in den USA und hat sich dem EU-US-Privacy-Shield unterworfen, https://www.privacyshield.gov/EU-US-Framework.
          br
          | 4. Einbindung von Google Maps
          br
          | (1) Auf dieser Webseite nutzen wir das Angebot von Google Maps. Dadurch k&ouml;nnen wir Ihnen interaktive Karten direkt in der Website anzeigen und erm&ouml;glichen Ihnen die komfortable Nutzung der Karten-Funktion.
          br
          | (2) Durch den Besuch auf der Website erh&auml;lt Google die Information, dass Sie die entsprechende Unterseite unserer Website aufgerufen haben. Zudem werden die unter &sect; 3 dieser Erkl&auml;rung genannten Daten &uuml;bermittelt. Dies erfolgt unabh&auml;ngig davon, ob Google ein Nutzerkonto bereitstellt, &uuml;ber das Sie eingeloggt sind, oder ob kein Nutzerkonto besteht. Wenn Sie bei Google eingeloggt sind, werden Ihre Daten direkt Ihrem Konto zugeordnet. Wenn Sie die Zuordnung mit Ihrem Profil bei Google nicht w&uuml;nschen, m&uuml;ssen Sie sich vor Aktivierung des Buttons ausloggen. Google speichert Ihre Daten als Nutzungsprofile und nutzt sie f&uuml;r Zwecke der Werbung, Marktforschung und/oder bedarfsgerechten Gestaltung seiner Website. Eine solche Auswertung erfolgt insbesondere (selbst f&uuml;r nicht eingeloggte Nutzer) zur Erbringung von bedarfsgerechter Werbung und um andere Nutzer des sozialen Netzwerks &uuml;ber Ihre Aktivit&auml;ten auf unserer Website zu informieren. Ihnen steht ein Widerspruchsrecht zu gegen die Bildung dieser Nutzerprofile, wobei Sie sich zur Aus&uuml;bung dessen an Google richten m&uuml;ssen.
          br
          | (3) Weitere Informationen zu Zweck und Umfang der Datenerhebung und ihrer Verarbeitung durch den Plug-in-Anbieter erhalten Sie in den Datenschutzerkl&auml;rungen des Anbieters. Dort erhalten Sie auch weitere Informationen zu Ihren diesbez&uuml;glichen Rechten und Einstellungsm&ouml;glichkeiten zum Schutze Ihrer Privatsph&auml;re: http://www.google.de/intl/de/policies/privacy. Google verarbeitet Ihre personenbezogenen Daten auch in den USA und hat sich dem EU-US Privacy Shield unterworfen, https://www.privacyshield.gov/EU-US-Framework.
        p
          | 5. Google Analytics
          br
          | Diese Website benutzt Google Analytics, einen Webanalysedienst der Google Inc. (&bdquo;Google&rdquo;). Google Analytics verwendet sog. &bdquo;Cookies&rdquo;, Textdateien, die auf ihrem Computer gespeichert werden und die eine Analyse der Benutzung der Website durch sie erm&ouml;glichen. Die durch den Cookie erzeugten Informationen &uuml;ber die Benutzung dieser Website werden in der Regel an einen Server von Google in den USA &uuml;bertragen und dort gespeichert.
          br
          | Auf dieser Website wurde die IP-Anonymisierung von Google aktiviert. Ihre IP-Adresse wird dadurch von Google innerhalb von Mitgliedstaaten der Europ&auml;ischen Union oder in anderen Vertragsstaaten des Abkommens &uuml;ber den Europ&auml;ischen Wirtschaftsraum so weit gek&uuml;rzt, dass sie keinem speziellen Anschluss mehr zugeordnet werden kann. Im Auftrag des Betreibers dieser Website wird Google diese Informationen benutzen, um die Nutzung dieser Website auszuwerten, um Reports &uuml;ber die Websiteaktivit&auml;ten zusammenzustellen und um weitere mit der Websitenutzung und der Internetnutzung verbundene Dienstleistungen gegen&uuml;ber dem Websitebetreiber zu erbringen. Die durch Google erbrachten Auswertungen und Reports werden ausschlie&szlig;lich dem Betreiber der Website bereitgestellt und nur von diesem verwendet.
          br
          | Die im Rahmen von Google Analytics von ihrem Browser &uuml;bermittelte IP-Adresse wird nicht mit anderen Daten von Google zusammengef&uuml;hrt. Sie k&ouml;nnen die Speicherung der Cookies durch eine entsprechende Einstellung ihrer Browser-Software verhindern. Wir weisen jedoch darauf hin, dass in diesem Fall gegebenenfalls nicht s&auml;mtliche Funktionen dieser Website vollumf&auml;nglich genutzt werden k&ouml;nnen. Sie k&ouml;nnen dar&uuml;ber hinaus die Erfassung der durch das Cookie erzeugten und auf ihre Nutzung der Website bezogenen Daten (inkl. ihrer IP-Adresse) an Google sowie die Verarbeitung dieser Daten durch Google verhindern, indem sie das unter dem folgenden Link verf&uuml;gbare Browser-Plugin herunterladen und installieren:&nbsp;
          a(href='https://tools.google.com/dlpage/gaoptout?hl=de' rel='nofollow noopener') Google Analytics Opt-Out Browser Plug-In
          br
          | Weitere detaillierte Informationen zu den Nutzungsbedingungen und dem Datenschutz von Google Analytics finden sie unter&nbsp;
          a(href='http://www.google.com/analytics/terms/de.html' rel='nofollow noopener') http://www.google.com/analytics/terms/de.html
          | &nbsp;bzw. unter&nbsp;
          a(href='http://www.google.com/intl/de/analytics/privacyoverview.html' rel='nofollow noopener') http://www.google.com/intl/de/analytics/privacyoverview.html
          | .
        p 6. Kontaktformular
        p
          | Wenn Sie das auf der Webseite angebotenen Kontaktformular benutzen m&ouml;chten, um mit uns in Kontakt zu treten, ben&ouml;tigen wir die im Formular abgefragten Daten zur Beantwortung Ihrer Anfrage.
          br
          | Einige Daten werden dabei nur auf freiwilliger Basis erhoben. Diese Daten verwenden wir ausschlie&szlig;lich f&uuml;r die Bearbeitung Ihrer Anfrage und geben diese nicht an Dritte weiter.
          br
          | Die Verarbeitung der in das Kontaktformular eingegebenen Daten erfolgt ausschlie&szlig;lich auf Grundlage Ihrer Einwilligung (Art. 6 Abs. 1 lit. a DSGVO).
          br
          | Die erteilte Einwilligung zur Speicherung der Daten k&ouml;nnen Sie jederzeit widerrufen. Die Rechtm&auml;&szlig;igkeit der bereits erfolgten Datenverarbeitungsvorg&auml;nge bleibt vom Widerruf unber&uuml;hrt.
          br
          | Die von Ihnen zum Zwecke der Kontaktaufnahme bei uns hinterlegten Daten werden von uns solange gespeichert, bis Sie uns zur L&ouml;schung auffordern oder gesetzliche Fristen die L&ouml;schung von uns erlauben oder verlangen.
        p
          span CentralStationCRM
          br
          | Diese Website nutzt die CRM-Software CentralStationCRM f&uuml;r die Speicherung und Verarbeitung Ihrer Kontaktaufnahme. Anbieter ist die 42he GmbH, Marktstra&szlig;e 10 &ndash; Geb&auml;ude E8, 50968 K&ouml;ln, Deutschland.
          br
          | CentralStationCRM ist ein Dienst, mit dem u.a. Kunden organisiert und betreut werden k&ouml;nnen. Die von Ihnen zum Zwecke der Kontaktaufnahme eingegeben Daten werden auf den Servern von CentralStationCRM in Deutschland gespeichert.
          br
          | Wenn Sie keine weitere Verarbeitung durch CentralStationCRM wollen, m&uuml;ssen Sie den Betreiber dieser Webseite nach Ihrer Kontaktaufnahme dar&uuml;ber informieren.
        p
          span Datenanalyse durch CentralStationCRM
          br
          | Mit Hilfe von CentralStationCRM ist es uns m&ouml;glich die Anfragen &uuml;ber unsere Webseite besser zu organisieren und schneller beantworten zu k&ouml;nnen. CentralStationCRM erm&ouml;glicht es uns auch,
          br
          | unsere Kunden und Kontakte besser gruppieren zu k&ouml;nnen. Dadurch k&ouml;nnen wir zielgerichteter in Vertrieb und Marketing arbeiten.
        p
          span Rechtsgrundlage
          br
          | Die Datenverarbeitung erfolgt auf Grundlage Ihrer Einwilligung (Art. 6 Abs. 1 lit. a DSGVO). Sie k&ouml;nnen diese Einwilligung jederzeit widerrufen. Die Rechtm&auml;&szlig;igkeit der bereits erfolgten Datenverarbeitungsvorg&auml;nge bleibt vom Widerruf unber&uuml;hrt.
        p
          span Speicherdauer
          br
          | Die von Ihnen zum Zwecke der Kontaktaufnahme bei uns hinterlegten Daten werden von uns so lange gespeichert, bis diese von uns gel&ouml;scht werden.
          br
          | N&auml;heres entnehmen Sie den Datenschutzbestimmungen von CentralStationCRM unter: https://centralstationcrm.net/www/privacy.
        p
          span Abschluss eines Vertrags &uuml;ber Auftragsdatenverarbeitung
          br
          | Wir haben mit CentralStationCRM einen Vertrag abgeschlossen, in dem wir CentralStationCRM verpflichten, die Daten unserer Kunden zu sch&uuml;tzen und sie nicht an Dritte weiterzugeben. Dieser Vertrag kann unter folgendem Link eingesehen werden:
          br
          | https://centralstationcrm.de/avv
        h3 Analyse Tools und Werbung
        p
          span Google reCAPTCHA
          br
          | Wir nutzen &ldquo;Google reCAPTCHA&rdquo; (im Folgenden &ldquo;reCAPTCHA&rdquo;) auf unseren Websites. Anbieter ist die Google Inc., 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA (&ldquo;Google&rdquo;).
        p
          | Mit reCAPTCHA soll &uuml;berpr&uuml;ft werden, ob die Dateneingabe auf unseren Websites (z.B. in einem Kontaktformular) durch einen Menschen oder durch ein automatisiertes Programm erfolgt.
          br
          | Hierzu analysiert reCAPTCHA das Verhalten des Websitebesuchers anhand verschiedener Merkmale. Diese Analyse beginnt automatisch, sobald der Websitebesucher die Website betritt.
          br
          | Zur Analyse wertet reCAPTCHA verschiedene Informationen aus (z.B. IP-Adresse, Verweildauer des Websitebesuchers auf der Website oder vom Nutzer get&auml;tigte Mausbewegungen). Die bei der Analyse erfassten Daten werden an Google weitergeleitet.
        p
          | Die reCAPTCHA-Analysen laufen vollst&auml;ndig im Hintergrund. Websitebesucher werden nicht darauf hingewiesen, dass eine Analyse stattfindet.
        p
          | Die Datenverarbeitung erfolgt auf Grundlage von Art. 6 Abs. 1 lit. f DSGVO. Der Websitebetreiber hat ein berechtigtes Interesse daran, seine Webangebote vor missbr&auml;uchlicher automatisierter Aussp&auml;hung und vor SPAM zu sch&uuml;tzen.
        p
          | Weitere Informationen zu Google reCAPTCHA sowie die Datenschutzerkl&auml;rung von Google entnehmen Sie folgenden Links: https://www.google.com/intl/de/policies/privacy/ und https://www.google.com/recaptcha/intro/android.html.
      p &nbsp;


@endsection

